@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Poppins:wght@300;500;600;700&display=swap');

html, body {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

header {
    width: 1280px;
    height: 90px;
    position: fixed;  
    z-index:12;
    background-color: white;
}

#header-container {
    padding: 10px;
    height: 70px;
}

#logo-link {
    float: left;
    margin-left: 80px;
}

#logo {
    width:70px;
    height: 70px;
}

#header-right-sec {
    float: right;
    margin-right: 80px;
}

#header-right-sec small {
    float: right;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #8D8D8D;
    
}

#header-right-sec small a {
    text-decoration: none;
    color: #8D8D8D;
}

#header-right-sec nav {
    margin-top: 35px;
}

#header-list {
    list-style: none;
}

#ninth-section-header-list {
    list-style: none;
    display: inline-block;
    padding: 0px;
}

#ninth-section-header-list li, #header-list li {
    float: left;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
}

#first-section {
    background-image: url('../images/banner_bg.png');
    background-repeat: no-repeat;
    width: 1280px;
    background-size: 100% 100%;
}

#first-section-container {
    padding: 210px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#first-section h1 {
    text-align: center;
    font-size: 74px;
    margin: 0px;
}

#first-section h2 {
    text-align: center;
    font-size: 52px;
    margin: 0px;
}

#first-section h3 {
    text-align: center;
    font-size: 30px;
    margin: 0px;
}

.second-section-container {
    width: 1280px;
    display: inline-block;
}

#second-section-left-sided {
    width: 50%;
    padding: 70px;
    padding-right: 0px;
    float: left;
}

#second-section-left-sided p {
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#blue-text {
    color: #0872BA;
}

#second-section-left-sided pre {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    clear: left;
}

#second-section-right-sided {
    float: right;
    width: 43%;
    background-image: url('../images/logo_symbol.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 110%;
    position: relative;
    height: 454px;
    top: 0;
    left: 0;
}

#logo-symbol {
    width: 100%;
    height: 495px;
    margin-top: -40px;
    position: relative;
    top: 0;
    left: 0;
}

#lady-img {
    position: absolute;
    top: 36px;
    left: 100px;
    height: 92%;
    clear: right;
}

#third-section {
    width: 1280px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin-top: -10px;
}

.third-section-container {
    background-image: url('../images/middle_banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 170px 0px;
}

.third-section-layer {
    background-color: rgba(8, 114, 186, 0.85);
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 0px;
}

#middle-banner-contents {
    padding: 80px 200px;
}

#middle-banner-text {
    margin-top: 0px;
    margin-bottom: 35px;
}

.button-template {
    background-color: #F79421;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    width: 260px;
    height: 50px;
}

#fourth-section {
    text-align: center;
    width: 1280px;
}

#fourth-section-head h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 36px;
}

#fourth-section-head h3 {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    font-size: 20px;
} 

.hr-line {
    width: 60px;
    margin: 0 auto;
    border-top: 2px solid #F79421;
}

.section-grids {
    margin: 60px auto;
}

.grid-item {
    width: 270px;
    margin: 20px;
    display: inline-block;
}

.grid-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.grid-text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

#fifth-section {
    background-image: url('../images/figures_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1280px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}

#fifth-section-paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    width: 700px;
    margin: 0px auto;
}

#head-text {
    padding-top: 80px;
}

.numbers {
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
}

.number-labels {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#change-container-margin {
    margin: 30px;
}

.change-grid-margin {
    margin: 0px;
}

#sixth-section {
    display: inline-block;
    width: 1280px;
}

#sixth-section-layer {
    background-color: rgba(8, 114, 186, 0.85);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    padding: 150px 0px;
}

#sixth-section-left-side {
    float: left;
    width: 50%;
    color: #FFFFFF;
    display: inline-block;
}

#sixth-section-right-side {
    float: right;
    background-color: #E6E6E6;
    width: 50%;
    color: #143763;
}

#change-bg-image1 {
    background-image: url('../images/business.png');
    width: 100%;
    background-position: right center;
    background-size: 825px 500px;
    background-repeat: no-repeat;
    display: inline-block;
}

.sixth-section-para {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.sixth-section-left-link {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: underline;
}

.sixth-section-right-link {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #143763;
    text-decoration: underline;
    clear: right;
}

.sixth-section-left-contents {
    width: 420px;
    margin-left: 125px;
}

.sixth-section-right-contents {
    width: 420px;
    margin: auto 0px;
}

#dell-logo {
    width: 100px;
    height: 100px;
}

#sixth-section-contents-container {
    text-align: center;
    margin: 45px 0px 37px 80px;
    display: inline-block;
}

#img-wrapper {
    display: inline-block;
    margin: 0px auto;
}


#sixth-section-bottom-left-side {
    clear: left;
    padding-right: 355px;
    margin-left: 80px;
    position: absolute;
    bottom: 20px;
    height: 85px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.12);
}

#sixth-section-bottom-right-side {
    display: inline-block;
    width: 560px;
    margin-top: 8px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.12);
}

.bottom-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin: 10px 20px 0px 15px;
}

.bottom-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0px 20px 0px 15px;
}

#left-bottom {
    float: left;
}

#right-bottom {
    float: right;
    color: #000000;
}

#right-text-align {
    text-align: right;
}

#seventh-section {
    clear: both;
    width: 1280px;
    height: 500px;
    text-align: center;
    margin-top: -10px;
    overflow-x: hidden;
}

#seventh-section-container {
    position: relative;
    height: 500px;
    width: 100%;
}

#change-bg-image2 {
    padding: 250px 0px;
    width: 550px;
    background-image: url('../images/logo_symbol.png');
    background-repeat: no-repeat;
    opacity: 0.2;
    background-position: right;
    background-size: 640px 560px;
}

#layer-dimensions {
    clear: both;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    padding: 0px;
    background-color: #363636;
}

#seventh-section-head-text {
    position: absolute;
    color: #FFFFFF;
    width: 100%;
    top: 0px;
    left: 0px;
}

#head-text-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin: 60px 0px 0px 0px;
}

#head-text-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
}

#team-img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    box-shadow: 5px 5px 10px #363636;
}

#change-imagebar-dimensions {
    margin: 50px auto;
    padding: 10px 0px;
    background-color: rgb(255, 255, 255, 0.16);
}

#change-grid-dimensions {
    margin: 0px;
    width: 16%;
}

#arrow-alignment {
    margin: 0px;
    width: auto;
    right: 5%;
    bottom: 30%;
    position: absolute;
}

#arrow-img {
    border: 2px solid #FFFFFF;
    padding: 5px;
}

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -45px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgb(255, 255, 255, 0.16);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: #FFFFFF;
}

#eighth-section {
    width: 1280px;
    overflow-x: hidden;
}

#eighth-section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}

.style-inputs {
    width: 100%;
    height: 30px;
    border: 1px solid #686868;
}

::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

.inputs-wrapper {
    width: 250px;
    margin: 0px;
    display: inline-block;
}

#align-inputs {
    display: table;
    margin: 50px auto;
}

#align-button {
    display: table;
    margin: 60px auto;
    margin-bottom: 80px;
}

#initial-curv-input {
    border-radius: 5px 0px 0px 5px;
}

#end-curv-input {
    border-radius: 0px 5px 5px 0px;
}

.hr-line {
    width: 20px;
    height: 1px;
    border-top: 1px solid #686868; 
    display: inline-block;
}

#nav-list {
    margin: 50px auto;
    padding-right: 40px;
    display: inline-block; 
    height: 60px; 
    color: #FFFFFF;
}

#ninth-section {
    width: 1280px;
    overflow-x: hidden;
    background-color: #363636;
}

#ninth-section-nav-list {
    margin: 8px 0px 5px 0px;
    padding-right: 40px;
    display: inline-block; 
    height: 60px; 
    color: #FFFFFF;
}

#ninth-section-nav-bar {
     width: 1280px;
     text-align: center;
     display: inline-block;
     margin: 0px auto;
}

#change-color {
    color: #FFFFFF;
}

#footer-list {
    list-style-type: none;
    text-align: left;
}

#footer-list li a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #BEBEBE;
}

#footer-list li, #footer-list li a {
    line-height: 25px;
}

#footer-list li a:hover {
    color: #FFFFFF;
}

.adjust-top-margin {
    margin-top: 25px;
}

#footer-list-col {
    display: inline-block;
    padding: 40px 40px;
    position: relative;
}

.change-bg1 {
    float: left;
    background-image: url('../images/logo_symbol.png');
    width: 280px;
    height: 400px;
    height: 279px;
    margin-left: -80px;
    margin-top: 15px;
    background-repeat: no-repeat;
    opacity: 0.2;
    background-position: 80% 120%;
    background-size: 500px 150px;
    position: absolute;
    overflow: hidden;
}

.change-bg2 {
    float: right;
    background-image: url('../images/logo_symbol.png');
    width: 190px;
    height: 400px;
    height: 279px;
    margin-left: 85%;
    background-repeat: no-repeat;
    opacity: 0.2;
    transform: scaleY(-1);
    background-position: 15% 120%;
    background-size: 500px 150px;
    position: absolute;
    overflow: hidden;
}

#tenth-section {
    width: 1280px;
}

#tenth-section-container {
    background-color: #363636;
    margin: 0px auto;
    color: #363636;
    border: 2px solid #3D3D3D;
    position: relative;
    top: 0%;
    left: 0%;
}

.tenth-section-layer {
    background-color: rgba(54, 54, 54, 1);
    color: #FFFFFF;
    text-align: center;
    display: relative;
}

#change-grid-width {
    width: auto;
    margin: 40px 20px;
}

#list-title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
}

#copyright-section {
    background-color: #2B2B2B;
    width: 1280px;
    padding: 5px 0px 50px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#copyright-text {
    margin: 0px;
    color: #FFFFFF;
    font-weight: 700;
}

#left-copyright-section {
    float: left;
    margin: 16px 0px 0px 30px;
}

#right-copyright-section {
    float: right;
    margin: 6px 80px 0px 0px;
}

.social-media-icons {
    display: inline-block;
    margin: 5px;
}

#grids-container {
    display: table;
    margin: 0px auto;
}
